# CMake / make
**/CMakeCache.txt
**/CMakeFiles/*
**/cmake_install.cmake
**/Makefile
Debug/*

# Binaries / object files
entrypoint
lib*.a

# logs
log/gl.log

# LSP-related stuff
compile_commands.json
.ccls-cache

# dependencies (don't want to store all in repo)
deps/